{% load static %}

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 위 메타 태그는 *반드시* head 태그의 처음에 와야합니다. 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->

        <!-- load bottstrap css -->
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

        <!-- load custom css-->
        <link href="{% static 'mainpage/cover.css' %}" rel="stylesheet">

        <title>Seuleuleung</title>

    </head>
    
    <body class="text-center">

        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
              <div class="inner">
                <h3 class="masthead-brand">Cover</h3>
                <nav class="nav nav-masthead justify-content-center">
                  <a class="nav-link active" href="#">Home</a>
                  <a class="nav-link" href="#">Features</a>
                  <a class="nav-link" href="#">Contact</a>
                </nav>
              </div>
            </header>
      
            <main role="main" class="inner cover">
              <h1 class="cover-heading">우리 군바리들</h1>
              <p class="lead">호호호호호호호 순영이 용재 뭐하누~</p>
              <p class="lead">
                <a href="#" class="btn btn-lg btn-secondary">전역 30일 연장하기</a>
              </p>
            </main>
      
            <footer class="mastfoot mt-auto">
              <div class="inner">
                <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
              </div>
            </footer>
        </div>    

        <!-- load jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- load javascript -->
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>


    </body class="text-center">
</html>
